/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}



/* LAYOUT */

.conteiner-lg{
    max-width: 1919px;
    margin: 0 auto;
}


.conteiner{
    max-width: 1216px;
    margin: 0 auto;
}

.conteiner-sm{
    max-width: 1001px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}






































/* DEBUG */


.debug .header__nav{
    min-height: 20px;
    background-color: red;
}