/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}




/* LAYOUT */

.conteiner-lg, .conteiner, .conteiner-sm{
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}


.conteiner{
    max-width: 1240px;
    margin: 0 auto;
}

.conteiner-sm{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.col-8{
    width: calc(100%/3*2)
}

.col-4{
    width: calc(100%/3);
}

.col-7{
   width: calc(100%/12*7); 
}

.col-5{
    width: calc(100%/12*5);
}







/* STYLE */


.button{
    color: white;
    background-color:  #0061ff;
    padding: 7px 15px;
    font-family: sans-serif;
    font-size: 14px;
}

main h1{
    font-size: 85px;
    font-weight: bold;
    font-family: sans-serif;
}


* h2{
    font-size: 44px;
    font-weight: bold;
    font-family: sans-serif;
}

* h3{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}


* h5{
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

* p{
    font-size: 15px;
    font-family: sans-serif;
}




/* UTILITY */

.color-blue{
    color: blue;
}

.decor-underline{
    text-decoration: underline;
}

.weight-bold{
    font-weight: bold;
}





/* HEADER */


nav .row{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

[class^=header__nav] li{
    display: inline-block;
    margin: 0 10px;
}

.header__nav{
    color: gray;
}

.header__nav__dropbox--list, 
.header__nav__user--list{
    display: flex;
    align-items: center;
}

.logo-small{
    width: 100%;
}







/* MAIN */


/* Hero Section */

.hero{
    background-color: #b4d0e7;
}

.hero__title{
    padding: 65px 0;
}




.hero .col-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
}

.hero__content span{
    margin-top: auto;
    font-size: 40px;
}



/* Purchase Section */

.purchase{
    margin-bottom: 40px;
}

/* Title */
.purchase__title{
    padding: 20px 37px;
    margin-top: 50px;
}

/* Select */
.purchase__select{
    padding: 50px 37px;
}


.purchase__select li{
    margin-right: 33px;
    display: inline-block;
}

/* Vertical Cards */


.purchase__cards .row{
    justify-content: space-between;
}



.purchase__card--vertical{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 25px;
    padding-bottom: 10px;
}

.purchase__card--vertical__title{
    border: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase__card--vertical__title > *{
    margin-bottom: auto;
    padding: 10px;
}

.purchase__card--vertical__body{
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    padding: 25px;
}


.purchase__card--vertical__body :nth-child(3){
    margin-bottom: 50px;
}

.purchase__card--vertical__body h3, p{
    margin-bottom: 15px;
}

.purchase__card--vertical__button p{
    margin-top: 25px;
}

.purchase__card--vertical__button .button{
    padding: 10px 35px;
}

.purchase__card--vertical__description{
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
    padding: 0px 25px;
    flex-grow: 1;
}

.purchase__card--vertical__description i{
color: #0061ff;
}

/* Horizontal Card */

.purchase__card--horizontal{
padding: 25px;
width: 100%;
}


.purchase__card--horizontal__title{
    border: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.purchase__card--horizontal__title > p{
    margin: 0;
    padding: 10px;
}


.purchase__card--horizontal__body{
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.purchase__card--horizontal__body__text{
    line-height: 40px;
}

.purchase__card--horizontal__button .button{
    padding: 10px 35px;
}



.purchase__card--horizontal__description{
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
    padding: 0px 25px 20px 25px;
    flex-grow: 1;   
}





/* Partnership Section */

.partnership{
    margin: 30px 0;
    padding: 30px 0;
}


.partnership .col-7{
    padding: 10px;
    padding-left: 25px;
}

.partnership .col-5{
    padding: 60px;
}

.partnership .col-5 h3{
    line-height: 40px;
    margin-bottom: 20px;
}

.partnership .col-5 p{
    margin-bottom: 20px;
}

.partnership .col-5 .button{
    background-color: white;
    color: black;
    border: solid 1px black;
}










/* DEBUG */


/* .debug .header__nav{
    min-height: 20px;
    background-color: rgb(209, 209, 209);
    border: black solid 1px;
}  */


/* .debug .conteiner{
     border: red solid 2px; 
} */

/* .debug .conteiner-sm{
    border: red solid 2px;
} */


/* .debug .col-4{
    border: rgb(0, 255, 13) solid 2px;
} */

/* .debug .col-8{
    border: rgb(255, 0, 157) solid 2px;
}  */


/* .debug .purchase__card--horizontal__title{
    min-width: 950px;
} */