/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}



/* LAYOUT */

.conteiner-lg{
    max-width: 1919px;
    margin: 0 auto;
}


.conteiner{
    max-width: 1216px;
    margin: 0 auto;
}

.conteiner-sm{
    max-width: 1001px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



/* STYLE */

button{
    color: white;
    background-color:  #0061ff;
    padding: 7px 15px;
}








/* HEADER */


nav .row{
    justify-content: space-between;
    padding: 20px;
}

[class^=header__nav] li{
    display: inline-block;
    margin: 0 10px;
}

.header__nav{
    color: gray;
}

.header__nav__dropbox--list, 
.header__nav__user--list{
    display: flex;
    align-items: center;
}

.logo-small{
    width: 130px;
}






























/* DEBUG */


.debug .header__nav{
    min-height: 20px;
    background-color: rgb(209, 209, 209);
    border: black solid 1px;
}